<div class="card">
    <div class="card-header">
        Empleados
    </div>
    <div class="card-body">
       <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td>1</td>
                    <td>Matias Olviera</td>
                    <td>test@email.com</td>
                    <td>
                        <a routerLink="/editar-empleado/1">Editar</a>
                        |
                        <a routerLink="/editar-empleado/1">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
       </div>
       
    </div>
</div>
